* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-align:center;
     }
  
     body {
      height: 100vh;
     
    }

  h1 {
    margin: 25px;
    
  }

  h2{
   font-size: 20px;
  }

  h3{
    
  }

  main {

  }

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-template-rows: repeat( 3, 1fr);
  align-items: center;
  width: 100%;
  

}


 button {
  padding: 4px;
  margin: 20px;
}

button:hover {
  color: white;
  background-color: lightcoral;
}

footer {
  /* margin: 100px; */
  padding: 50px;
  text-align: center;
  font-size: 15px;
}