* {
  box-sizing: border-box;
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Special Elite', cursive;
  max-height: 100%;
  max-width: 100%;
}


body {
  height: 100vh;
  background-image: url(./card-library/images/ufoBackground.jpg);
  background-size: cover;
}

section {
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  margin: 2vmin;
  justify-items: center;
}

h1 {
  padding: 1vmin;
  font-size: 60px;
  height: 8vh;
}

h2 {
  padding: 1vmin;
  font-size: 30px;
  color: black;
  height: 5vh;
}

h3 {
  height: 3vh;
  padding: 3vmin;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  padding: 20px;
}

button {
  padding: 4px;
  margin: 15px;
  border: darkslategrey solid;
  background-color: lightgrey;
  width: 10vmin;
  height: 5.5vmin;
  font-size: 15px;
}

#start:hover {
  color: black;
  background-color: grey;
  border: darkslategrey solid;
}

footer {
  padding: 3vmin;;
  text-align: center;
  font-size: 12px;
  color: lightgrey;
}