* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-align:center;
    color:grey;
     }
  
  body {
    height: 100vh;
    }

  h1 {
    margin: 25px;
    
  }

  h2{
   font-size: 20px;
  }
 
  /*  trying to get countdown to be centered
   .flex-ctr { 
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  #countdown {
    height:10vmin;
    width: 10vmin;
    border: 0.5vmin solid lightcoral;
    border-radius: 50%;
    font-size:5vmin;
    color: lightgrey;  
    
  }


.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-template-rows: repeat( 3, 1fr);
  align-items: center;
  width: 100%;
  border: lightcoral solid 0.5vmin;
  background:lightgrey;
  padding: 20px;
    
 }

 button {
  padding: 4px;
  margin: 20px;
}

/*hide button when game is in play*/
.disabled {
display: hidden; 
}

button:hover {
  color: white;
  background-color: lightcoral;
}

footer {
  /* margin: 100px; */
  padding: 50px;
  text-align: center;
  font-size: 15px;
}